#navbar {
  left: 0;
  top: 70px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.nav-link {
  width: 300px;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 10px 10px 10px 30px;
  border-top: solid 1px black;
  border-right: solid 3px gray;
}

.nav-link:last-of-type {
  padding-bottom: 50vh;
  overflow-y: hidden;
}

#nav-bar-name {
  width: 277px;
  position: fixed;
  left: 0;
  top: 0;
  font-family: sans-serif;
  font-size: 2rem;
  margin-left: 20px;
  padding-bottom: 10px;
  padding-top: 23px;
  border-right: solid 3px gray;
}

#navbar header {
  width: 100%;
  border-right: solid 3px gray;
}

.main-section {
  margin-left: 350px;
}

.main-section header {
  font-size: 2rem;
  font-family: sans-serif;
  margin-top: 20px;
}

.main-section p, .main-section li {
  line-height: 20px;
  margin-top: 20px;
  font-family: sans-serif;
}

.main-section li {
  margin-left: 40px;
}

.main-section code {
  background-color: #ECECEC;
  border-radius: 5px;
  padding: 2px;
}

.li2 {
  padding-left: 40px;
  list-style-type: circle;
}

@media only screen and (max-width: 769px) {
  #navbar {
    left: 0;
    top: 0px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    overflow-x: auto;
    overflow-y: auto;
    border-bottom: solid 3px gray;
  }

  .nav-link {
    width: 100%;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 10px 10px 10px 30px;
    border-top: solid 1px black;
    border-right: solid 3px gray;
  }

  #nav-bar-name {
    width: 100%;
    position: relative;
    left: 50vw;
    top: 0;
    font-family: sans-serif;
    font-size: 2rem;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 23px;
    text-align: center;
    transform: translate(-50%, 0);
  }

  .main-section {
    margin: auto;
    margin-top: 400px;
  }
}